.navbar-config {
    background-color: #0078d4;
    height: 48px;
}
.t48-48:hover {
    background-color: #004d88;   
}
.t48-48{   
    width: 48px!important;
    height: 48px;
    margin-left: 1px;    
}
.offcanvas-perfil {
    margin-top: 48px;
    width: 320px!important;
    height: 190px!important;
    border-bottom: black;    
}
.offcanvas-config {
    margin-top: 48px;
    width: 320px!important;
    height: 100%px!important;
    border-bottom: black;
}
.container-principal-navbar{
    height: 48px;    
}
.container-pesquisa-span{
    margin-top: 2px;
    height: 44px!important;
    padding-top: 5px;
    background-color: transparent;
    margin-left: 8px;
    margin-right: 8px;
}
.usuario-perfil-subtexto{
    font-size: 14px;
    text-decoration: none!important;
    font-family: SegoeUI-Regular-final,Segoe UI,"Segoe UI Web (West European)",Segoe,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Tahoma,Helvetica,Arial,sans-serif;
}
.usuario-perfil-subtexto a {
    color: #528de2;
    text-decoration: none!important;    
}
.usuario-perfil-subtexto a:hover {
    text-decoration-line: underline!important;    
}
.usuario-gear-subtexto{
    font-size: 14px;
    text-decoration: none!important;
    font-family: SegoeUI-Regular-final,Segoe UI,"Segoe UI Web (West European)",Segoe,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Tahoma,Helvetica,Arial,sans-serif;
}
.usuario-gear-subtexto a{
    color: #528de2;
    text-decoration: none!important;
}
.usuario-gear-subtexto a:hover{
    text-decoration-line: underline!important;
}
.fonte-email-perfil {
    font-size: 14px;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    line-height: normal;
}
.offcanvas-body {
    overflow: hidden;
}
.container-atalho {
    width: 228px!important;
    background-color: antiquewhite;
    height: 100%!important;
}
.container-principal-body{
    height: 100%!important;
}
.container-ferramenta {
    background-color: aqua!important;
    height: 60px!important;
}
.container-conteudo{
    background-color: azure;
    position: absolute;
}
#btn-configuracoes {
    font-size: 18px;
    color: #fffff9;
}
#imagem-perfil-navbar {
    width: 33px;
    height: 33px;
    border-radius: 100%;
}
#barraDePesquisa {
    height: 32px!important;
}

#imagemPerfilOffcanvas{
    height: 88px;
    width: 88px;
    border-radius: 100%;
}
#navbarNome {
    color: #fffff9!important;
    font-size: 16px;
    font-family: SegoeUI-SemiBold-final,Segoe UI Semibold,SegoeUI-Regular-final,Segoe UI,"Segoe UI Web (West European)",Segoe,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Tahoma,Helvetica,Arial,sans-serif;
}
#nomeUsuarioPerfil{
    font-size: 16px;
}
#containerImagemPerfilOffcanvas{
    width: 90px!important;
}
#containerTextoPerfilOffcanvas{
    width: 230px!important;
}
#btnPesquisa{
    color: white;
}
@media screen and (min-width: 767px) {
    #btnPesquisa {
        display: none!important;
    }
    #pesquisaSpan {
        display: none!important;
    }
}
@media screen and (max-width: 350px) {
    #barraDePesquisa {
        display: none;
    }
    #imagemPerfilOffcanvas{
        width: 200px;
        height: 200px;
    }
    #containerImagemPerfilOffcanvas {
        width: 100%!important;
        height: 200px!important;
        margin: 0%!important;
        text-align: center;
    }
    #containerTextoPerfilOffcanvas {
        width: 100%!important;
        margin: 0%!important;
        text-align: center;
        
    }
    .container-nome{
        display: none;
    }
    .offcanvas-perfil {
        height: 100%!important;
    }
    #navbarNome {
        display: none!important;
    }
    .container-pesquisa-span{
        margin-left: 10px;
        margin-right: 30px;
    }

}

