.navbar-config {
    background-color: #0078d4;
    height: 48px;
}
.t48-48:hover {
    background-color: #004d88;   
}
.t48-48{   
    width: 48px!important;
    height: 48px;
    margin-left: 1px;    
}
.offcanvas-perfil {
    margin-top: 48px;
    width: 320px!important;
    height: 190px!important;
    border-bottom: black;
}
.offcanvas-config {
    margin-top: 48px;
    width: 320px!important;
    height: 100%px!important;
    border-bottom: black;
}
.container-principal-navbar{
    height: 48px;    
}
.usuario-perfil-subtexto{
    font-size: 13px;

}
.fonte-usuario-perfil {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
}
.offcanvas-body {
    overflow: hidden;
}
.container-atalho {
    width: 16.3%!important;
    background-color: antiquewhite;
}
.container-principal-body{
    height: 400px;
    width: auto!important;
    background-color: aqua;
}
#btn-configuracoes {
    font-size: 18px;
    color: #fffff9;
}
#imagem-perfil-navbar {
    width: 33px;
    height: 33px;
    border-radius: 100%;
}
#barraDePesquisa {
    height: 32px!important;
}

#imagemPerfilOffcanvas{
    height: 88px;
    width: 88px;
    border-radius: 100%;
}
#navbarNome {
    color: #fffff9!important;
    font-size: 16px;
    font-family: SegoeUI-SemiBold-final,Segoe UI Semibold,SegoeUI-Regular-final,Segoe UI,"Segoe UI Web (West European)",Segoe,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Tahoma,Helvetica,Arial,sans-serif;
}
#nomeUsuarioPerfil{
    font-size: 17px;
}
#containerImagemPerfilOffcanvas{
    width: 90px!important;
}
#containerTextoPerfilOffcanvas{
    width: 230px!important;
}
@media screen and (max-width: 319px) {
 
    #navbarNome {
        display: block;
        
    }
}
@media screen and (max-width: 350px) {
    #barraDePesquisa {
        display: none;
    }
    #imagemPerfilOffcanvas{
        width: 200px;
        height: 200px;
    }
    #containerImagemPerfilOffcanvas {
        width: 100%!important;
        height: 200px!important;
        margin: 0%!important;
        text-align: center;
    }
    #containerTextoPerfilOffcanvas {
        width: 100%!important;
        margin: 0%!important;
        text-align: center;
        
    }
    #barraDePesquisa {
        
    }
    .offcanvas-perfil {
        height: 100%!important;
    }
   .container-barra-pesquisa-navbar {
        display: none!important;
        
    }

}

